[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "sbt-extras"]
	path = sbt-extras
	url = https://github.com/paulp/sbt-extras.git
	branch = master
